//Globals

body, input, button, li, h1{
    font-family: 'Roboto', sans-serif;
}
button{
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size:1.5rem;
}

button:hover{
    color: orange;
    border-color: rgb(109, 106, 106);
    transition: 0.2s linear;
}

//MAIN

.container{
    text-align: center;
    width: 800px;
    margin: auto;
    margin-top: 100px;

    h1{
        font-size: 2.5em;
        padding: 50px;
    }

    div{
        width: 100%;
    }

    .bloque1{
        height: 60px;
        align-items: center;
        background-color: #F4F4F4;
        border-radius: 10px;   

        input{
            height: 100%;
            width: 80%;
            border: none;
            background: transparent;
            font-size: 1.2em;
            outline: none;
            padding-left: 20px;
        }

        button{
            width: 16%;
        }
    }

    .bloque2{

        ul {
            text-align: left;
            margin-top: 20px;
        }
        
        li {
            font-size: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.452);
            padding: 20px 130px 20px 15px;
            position: relative;
            transition: 0.3s linear;

            button{
                top: 15px;
                position: absolute;
            }
    
            .checkbutton{
                right: 55px;
                height: 25px;
                width: 25px;
            }
    
            .deletebutton{
                right: 5px;
            }
        }

    }

    .hidden {
        display: none;
    }
    
    .desactivo{
        text-decoration: line-through;
        color: rgba(255, 166, 0, 0.562);
        background-color: rgba(255, 166, 0, 0.308);
    }
    .desactivo_button{
        color: orange;
    }
    .addtask{
        background: $orange-1;
        transition: background 0.3s linear;
        ::placeholder{
            color: $light;
        }
    }
}  



